<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Machines</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/resources/main.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div id="side_menu" class="material">
    <div class="container">
        <ul class="navigation">
            <li><a><i class="glyphicon glyphicon-globe"></i> Welcome to UNIVERSO</a></li>
            <li class="active"><a href="/machines"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="/machines"><i class="glyphicon glyphicon-th"></i> Infrastructure</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12 material-header">
        <h3>UNIVERSO :: <a href="/machines">Machines</a> :: <a th:href="@{/machine(uid=${machine})}" th:text="${machine}"></a></h3>
    </div>
    <div class="col-lg-12 material">
        <div class="col-lg-12 material-info">
            <h4>Exibindo monitores da instância <span th:text="${machine}"></span></h4>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Monitors</th>
                    <th>Metrics</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="monitor : ${monitors}">
                    <td><a th:href="@{/monitor/} + ${monitor.id}" th:text="${monitor.name}"></a></td>
                    <td>
                        <span th:each="metric : ${monitor.metrics}" th:text='${metric.name}'>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
