<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Machines</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            UNIVERSO :: <a href="/machines">Machines</a> :: <a th:href="@{/machine(uid=${machine})}" th:text="${machine}"></a>
        </div>
        <div class="col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>Monitors</th>
                    <th>Metrics</th>
                </tr>
                <tr th:each="monitor : ${monitors}">
                    <td><a th:href="@{/monitor/} + ${monitor.id}" th:text="${monitor.name}"></a></td>
                    <td>
                        <div th:each="metric : ${monitor.metrics}">
                            <span th:text="${metric.id}">Apache</span> <span th:text="${metric.name}">Apache</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
