<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div id="side_menu" class="material" th:fragment="menu">
    <div class="container">
        <ul class="navigation">
            <li class="active"><a><i class="glyphicon glyphicon-globe"></i> Welcome to UNIVERSO</a></li>
            <li><a href="/machines"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="/machines"><i class="glyphicon glyphicon-th"></i> Infrastructure</a></li>
            <li><a href="/alerts"><i class="glyphicon glyphicon-fire"></i> Alerts
            </a></li>
        </ul>
    </div>
</div>
</body></html>